services:
  postgres:
    image: postgres:18
    container_name: postgres
    ports:
      - '127.0.0.1:${DB_PORT}:5432'
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    restart: on-failure
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./init-catalog-db.sh:/docker-entrypoint-initdb.d/init-catalog-db.sh:ro

volumes:
  postgres_data:
